:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1.6rem 3.5rem;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: inherit;
  background-color: #800080;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  
}

span {
  position: absolute;
  background-color: #fff;
  opacity: 0.3;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: rippleEffect 0.35s linear;
  pointer-events: none;
  
}

@keyframes rippleEffect {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 500px;
    height: 500px;
  }
}

